Repository ONSdigital/dis-wagtail, pull requests merged in 2025-03, with the labels that each got.

#114 Improve the user chooser queries, reducing N+1
  cms/users/tests/test_viewsets.py
  cms/users/viewsets.py
Labels: performance 🚀

#117 Update design system version from 72.2.0 to 72.4.0
  .design-system-version
Labels: dependencies, front-end

#127 Use HTML text inputs in numeric mode
  cms/datavis/blocks/base.py
  cms/datavis/blocks/utils.py
Labels: DataVis

#126 Move chart editing interface from snippets to StreamField
  cms/core/blocks/stream_blocks.py
  cms/core/wagtail_hooks.py
  cms/datavis/apps.py
  cms/datavis/blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
  cms/datavis/blocks/utils.py
  cms/datavis/checks.py
  cms/datavis/filters.py
  cms/datavis/forms/datasource.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/models/__init__.py
  cms/datavis/models/base.py
  cms/datavis/models/charts.py
  cms/datavis/models/data.py
  cms/datavis/models/mixins.py
  cms/datavis/tests/__init__.py
  cms/datavis/tests/test_utils.py
  cms/datavis/utils.py
  cms/datavis/views/datasource.py
  cms/datavis/views/mixins.py
  cms/datavis/views/specific.py
  cms/datavis/views/visualisation.py
  cms/datavis/viewsets.py
  cms/datavis/wagtail_hooks.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/jinja2/templates/components/streamfield/datavis_block.html
  cms/jinja2/templates/datavis/area_chart.html
  cms/jinja2/templates/datavis/bar_chart.html
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/jinja2/templates/datavis/column_chart.html
  cms/jinja2/templates/datavis/line_chart.html
  cms/jinja2/templates/datavis/preview.html
  cms/jinja2/templates/datavis/scatter_chart.html
  cms/static_src/javascript/components/highcharts-base-chart.js
Labels: DataVis

#133 Add Article Series Page tests
  cms/articles/tests/test_pages.py
Labels: component: Unit / Integration Tests
