Repository ONSdigital/dis-wagtail, pull requests merged in 2025-04, with the labels that each got.

#136 Remove gettext_lazy calls from admin panel text
  cms/articles/models.py
  cms/bundles/admin_forms.py
  cms/bundles/enums.py
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
  cms/bundles/views.py
  cms/bundles/viewsets.py
  cms/bundles/wagtail_hooks.py
  cms/core/blocks/base.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/headline_figures.py
  cms/core/blocks/markup.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/models/base.py
  cms/core/models/snippets.py
  cms/methodology/models.py
  cms/navigation/blocks.py
  cms/navigation/forms.py
  cms/navigation/models.py
  cms/private_media/constants.py
  cms/release_calendar/enums.py
  cms/release_calendar/forms.py
  cms/release_calendar/models.py
  cms/release_calendar/viewsets.py
  cms/release_calendar/wagtail_hooks.py
  cms/standard_pages/models.py
  cms/taxonomy/mixins.py
  cms/taxonomy/viewsets.py
  cms/themes/models.py
  cms/topics/blocks.py
  cms/topics/models.py
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets.py
Labels: component: i18n

#129 Replace custom hero markup with DS hero component for Article & Methodology pages (CMS-307)
  cms/articles/tests/test_pages.py
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/navigation/jinja2tags.py
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/tests/test_navigation_tags.py
  functional_tests/steps/methodology_page.py
Labels: front-end, integration: Design System

#123 Add datasets on release pages
  README.md
  cms/datasets/__init__.py
  cms/datasets/apps.py
  cms/datasets/blocks.py
  cms/datasets/migrations/0001_initial.py
  cms/datasets/migrations/__init__.py
  cms/datasets/models.py
  cms/datasets/tests/__init__.py
  cms/datasets/tests/test_blocks.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_views.py
  cms/datasets/views.py
  cms/datasets/wagtail_hooks.py
  cms/jinja2/templates/components/streamfield/dataset_link_block.html
  cms/jinja2/templates/components/streamfield/datasets_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/migrations/0003_releasecalendarpage_datasets.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
  functional_tests/features/release_page.feature
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/release_page.py
  poetry.lock
  pyproject.toml
Labels: integration: Data API

#115 Search Integration - Kafka
  .github/workflows/ci.yml
  cms/articles/models.py
  cms/methodology/models.py
  cms/navigation/tests/test_navigation_tags.py
  cms/release_calendar/models.py
  cms/search/__init__.py
  cms/search/apps.py
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/signal_handlers.py
  cms/search/tests/__init__.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/standard_pages/models.py
  cms/taxonomy/mixins.py
  cms/taxonomy/tests/test_mixins.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
  docker-compose-dev.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
Labels: integration: External Search

#130 Footer Menu UI Tests
  functional_tests/features/footer_menu.feature
  functional_tests/features/glossary_terms.feature
  functional_tests/features/information_page.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/step_helpers/footer_menu_helpers.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/page_editor.py
Labels: component: Functional tests

#144 Corrections & Notices FE (#388 & #389)
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static_src/javascript/components/details.js
  cms/static_src/javascript/main.js
  cms/static_src/sass/components/_corrections-and-notices.scss
  cms/static_src/sass/components/_corrections.scss
  cms/static_src/sass/main.scss
  functional_tests/steps/statistical_article_page.py
Labels: front-end

#151 Update design system to latest version (72.4.0 - 72.6.0)
  .design-system-version
Labels: component: Dependencies, front-end

#155 Update design system to latest version (72.6.0 - 72.7.0)
  .design-system-version
Labels: component: Dependencies, front-end

#143 RBAC negative tests
  cms/core/tests/test_permissions.py
Labels: component: Unit / Integration Tests

#140 Add Welsh locale support
  .github/workflows/ci.yml
  Makefile
  README.md
  cms/articles/tests/test_pages.py
  cms/core/jinja2tags.py
  cms/core/migrations/0007_remove_glossaryterm_core_glossary_term_name_unique_and_more.py
  cms/core/models/snippets.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_models.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
  cms/core/viewsets.py
  cms/core/wagtail_hooks.py
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/navigation/migrations/0003_footermenu_locale_footermenu_translation_key_and_more.py
  cms/navigation/models.py
  cms/navigation/wagtail_hooks.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/taxonomy/mixins.py
  cms/taxonomy/tests/test_forms.py
  cms/urls.py
  functional_tests/features/localisation.feature
  functional_tests/steps/glossary_terms_snippet.py
  functional_tests/steps/information_page.py
  functional_tests/steps/localisation.py
  functional_tests/steps/page_editor.py
Labels: component: i18n

#160 Improve Broker Service Container Config To Enable Search Integration Tests To Run Locally and Within The Web Container.
  .github/workflows/ci.yml
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/settings/local.py.example
  cms/settings/test.py
  docker-compose-dev.yml
  docker-compose.yml
Labels: DX, integration: External Search

#157 Update Bundle status enum values for consistency
  cms/bundles/enums.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/migrations/0001_initial.py
  cms/bundles/models.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/viewsets/bundle.py
  cms/release_calendar/tests/test_panels.py
Labels: DX

#168 Allow the CI to run for datavis PRs
  .github/workflows/ci.yml
  cms/datavis/forms/visualisation.py_
  cms/settings/dev.py
  cms/users/models.py
Labels: DX, DataVis

#167 Add locale column to additional choosers
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Labels: component: i18n 🌍

#159 Search Integration Resources API Endpoint
  cms/search/pagination.py
  cms/search/publishers.py
  cms/search/serializers.py
  cms/search/tests/helpers.py
  cms/search/tests/test_api_views.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_resource_builders.py
  cms/search/tests/test_urls.py
  cms/search/urls.py
  cms/search/utils.py
  cms/search/views.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/local.py.example
  cms/urls.py
  poetry.lock
  pyproject.toml
Labels: integration: External Search

#161 Log IP addresses
  cms/core/logs.py
  cms/core/tests/test_utils.py
  cms/core/tests/test_views.py
  cms/core/utils.py
  cms/settings/base.py
  cms/settings/test.py
  cms/users/signal_handlers.py
  cms/users/tests/test_signal_handlers.py
  poetry.lock
  pyproject.toml
Labels: integration: Logging

#169 Add bar/column chart
  cms/core/blocks/stream_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Labels: DataVis

#172 Enable chart point annotations
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_annotations.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Labels: DataVis

#166 Page workflow improvements
  .eslintrc.js
  .prettierignore
  cms/bundles/tests/test_utils.py
  cms/bundles/utils.py
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/headline-figures-item-block.js
  cms/core/static/js/blocks/previous-version-block.js
  cms/topics/static/topics/js/headline-figure-block.js
  cms/workflows/models.py
  cms/workflows/static/js/workflow-tweaks.js
  cms/workflows/tests/test_utils.py
  cms/workflows/tests/test_wagtail_hooks.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/tests/utils.py
  cms/workflows/wagtail_hooks.py
  functional_tests/features/statistical_article_page.feature
  functional_tests/features/topic_page.feature
  functional_tests/features/workflows.feature
  functional_tests/steps/articles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/topic_page.py
  functional_tests/steps/workflows.py
Labels: component: Workflows
