Repository ONSdigital/dis-wagtail, pull requests merged in 2025-06, with the labels that each got.

#228 Authenticate to Kafaka using IAM
  .github/workflows/ci.yml
  cms/search/__init__.py
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/signal_handlers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/local.py.example
  cms/settings/test.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Labels: component: Infrastructure 🏗️

#216 Ensure request errors are logged
  cms/core/logs.py
  cms/core/tests/test_logs.py
  cms/settings/base.py
Labels: component: Infrastructure 🏗️

#224 Support AWS SES (v2) for email sending
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Labels: component: Infrastructure 🏗️

#226 Topic page datasets
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
  cms/jinja2/templates/pages/topic_page.html
  cms/settings/dev.py
  cms/topics/migrations/0006_topicpage_datasets.py
  cms/topics/models.py
  cms/topics/tests/test_models.py
  cms/topics/tests/test_pages.py
  functional_tests/features/topic_page.feature
  functional_tests/steps/datasets.py
  functional_tests/steps/release_page.py
Labels: integration: Data API

#229 Remove unused code from the charts preview
  cms/datavis/constants.py
  cms/datavis/forms/__init__.py
  cms/datavis/forms/visualisation.py_
  cms/datavis/migrations/0001_initial.py
  cms/datavis/migrations/0002_datasource_column_count.py
  cms/datavis/migrations/0003_chart_marker_style.py
  cms/datavis/migrations/0004_chart_annotations_delete_annotation.py
  cms/datavis/migrations/0005_remove_chart_legend_position_alter_chart_show_legend.py
  cms/datavis/migrations/0006_scatterchart.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/migrations/__init__.py
  cms/datavis/models/__init__.py
  cms/datavis/templates/datavis/admin/visualisation_type_select.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Labels: DataVis

#234 Remove charts from CoreStoryBlock
  cms/core/blocks/stream_blocks.py
Labels: DataVis

#225 Include language in no translation warning message
  cms/jinja2/templates/base_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/localisation.py
Labels: component: i18n 🌍

#241 Enable markdown-link-check
  .github/linters/.markdown-link-check.json
  .mega-linter.yml
  README.md
Labels: DX, component: Tooling

#243 Allow resources endpoint in internal env
  cms/search/tests/test_api_views.py
  cms/search/views.py
  cms/urls.py
  docs/integrations/search_service.md
Labels: integration: External Search

#235 Hard-code search kafka topics
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/settings/base.py
  cms/settings/local.py.example
  docs/integrations/search_service.md
Labels: component: Infrastructure 🏗️

#239 Enable bar/column chart with confidence intervals
  cms/core/blocks/section_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
Labels: DataVis

#247 Reconcile confidence interval charts and reference line annotations
  cms/datavis/blocks/charts.py
Labels: DataVis

#237 Upgrade Python/Django/Wagtail
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .secrets.baseline
  Dockerfile
  Makefile
  cms/articles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/bundles/wagtail_hooks.py
  cms/core/apps.py
  cms/core/db_router.py
  cms/core/monkey_patches.py
  cms/core/templates/wagtailadmin/tables/locale_cell.html
  cms/core/tests/__init__.py
  cms/core/ui.py
  cms/core/viewsets.py
  cms/datasets/blocks.py
  cms/methodology/models.py
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/wagtail_hooks.py
  cms/release_calendar/models.py
  cms/release_calendar/viewsets.py
  cms/search/checks.py
  cms/settings/base.py
  cms/settings/formats/en_GB/__init__.py
  cms/standard_pages/models.py
  cms/teams/models.py
  cms/topics/forms.py
  cms/topics/models.py
  cms/topics/viewsets/featured_series.py
  cms/topics/viewsets/highlighted_items.py
  cms/topics/viewsets/series_with_headline_figures.py
  gunicorn.conf.py
  poetry.lock
  pyproject.toml
Labels: component: Dependencies 🕸️

#249 Upgrade Design System to 72.10.3
  .design-system-version
Labels: DataVis

#251 Update show-data-labels code
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
Labels: DataVis

#255 Fix column uncertainty chart data points when there is estimate only
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
Labels: DataVis

#257 DAC Report - Update heading levels (Level A)
  cms/core/blocks/glossary_terms.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/glossary/glossary_term_preview.html
  cms/jinja2/templates/components/streamfield/document_block.html
  cms/jinja2/templates/components/streamfield/documents_block.html
  cms/jinja2/templates/components/streamfield/headline_figures_item_block.html
  cms/jinja2/templates/components/streamfield/related_links_block.html
  cms/jinja2/templates/components/streamfield/topic_headline_figure_block.html
  cms/jinja2/templates/pages/topic_page.html
Labels: bug, front-end

#264 Ensure editable titles matches feature mapping
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_area_chart_block.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_scatter_plot_block.py
Labels: DataVis

#269 Replace preview mode switching functional tests
  cms/release_calendar/tests/test_pages.py
  cms/search/tests/test_checks.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
Labels: bug, component: Functional tests

#261 DAC Report - Update contact details to use description list (Level A)
  cms/jinja2/templates/components/contact_details/contact_details.html
  cms/static_src/sass/components/_contact-details.scss
  cms/static_src/sass/main.scss
  functional_tests/steps/methodology_page.py
Labels: bug, front-end, integration: Design System

#277 Disallow line overlays for non-stacked column charts
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
Labels: DataVis

#270 Add url to heros with statistics badge
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/release_calendar/tests/test_models.py
Labels: enhancement, front-end, integration: Design System
